<header>
  <div class="header-content">
    <div class="header-left">
      <a href="/">
        <img src="/assets/images/logo.png" alt="Logo" class="logo">
      </a>
      <a href="/" class="site-title">
        <h1>{{ site.title }}</h1>
      </a>
    </div>
    <div class="header-right">
      <nav class="header-links">
        <a href="#" class="social-link"><i class="fab fa-discord"></i> Discord</a>
        <a href="#" class="social-link"><i class="fab fa-github"></i> GitHub</a>
        <a href="#" class="social-link"><i class="fas fa-blog"></i> Blog</a>
        <div class="search-bar-container">
          <i class="fas fa-search"></i>
          <input type="text" placeholder="Search..." class="search-bar">
        </div>
      </nav>
    </div>
  </div>
</header>